{{#each smoothies as |smoothie|}}
  {{log smoothie}}
  <section data-id="{{smoothie.id}}">

    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>

  </section>
  <hr>
{{/each}}
