@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
$primary: #ff404c;
$secondary: #ffa5ab;
$tertiary: #c0000d;
$body-bg-color: #000000;
$font-color: $black; // scale-color(tertiary, $lightness: 95%);

a {
  background-color: $tertiary;
  color: $white;
  text-decoration: none;
}

body {
  background-image: linear-gradient(to bottom right, $white, $secondary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: $tertiary;
  background-color: $secondary;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  line-height: 1.4;
  padding-left: 1rem;
}

select {
  height: 10vh;
}

#auth-msgs {
  align-items: center;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 27px 0 rgba(255, 255, 255, 0.2);
  color: $black;
  display: flex;
  height: 8vh;
  justify-content: center;
  font-size: 1rem;
}

.borders {
  height: 5vh;
  opacity: 0;
}

.btn-primary {
  border: 0;
  background-color: $tertiary;
  font-size: 0.75rem;
}

.btn-primary:disabled {
  background-color: $secondary;
  border: 0;
}

.btn-primary:hover {
  color: $tertiary;
  background-color: $primary;
  border: 0;
}

.container {
  max-width: 75%;
}

#home-image {
  // background: url(~/Desktop/sei/projects/project_2/project_2_client/assets/media/smoothie-1.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .7), 0 6px 30px 0 rgba(255, 255, 255, .2);
  padding: 0;
}
// .main-content {
//   align-items: center;
//   background-color: $primary;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
//   color: $font-color;
//   display: flex;
//   height: 10vh;
//   justify-content: center;
//   margin: 0;
// }

.nav-bar {
  background-color: $primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .7), 0 6px 30px 0 rgba(255, 255, 255, .2);
  color: $font-color;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.nav-link {
  padding: 0.5rem;
}

.nav-link.disabled {
  color: $black;
}

.overflow-auto {
  height: 70vh;
}

.show-smoothies {
  padding: 0;
  height: 75vh;
}

.smoothy-name-text,
.view-smoothies-text {
  text-align: center;
  font-family: 'Lobster', cursive;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    height: fit-content;
    flex-direction: column;
  }

  .navbar {
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .btn-primary {
    display: block;
    width: 100%;
  }
}
